<button>Send Push Notification</button>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    var button = document.querySelector('button');
    button.onclick = function() {
        socket.emit('update', {
            message: "Bu bir socket push notification örneğidir."
        });
    }
</script>